{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>
    <ul>
    {% for item in watchlist %}
    <table style="border-collapse: collapse;">
        <tr style="border-bottom: 1px solid #ddd;">
            <td rowspan="4" width="300px" height="150px">
                <embed type="image/jpg" src="{{ item.image_url }}" width="200" height="100">
            </td>
        </tr>
        <tr>
            <td width="300px"><b><a href="{% url 'listing' item.id %}">{{ item.title }}</a></b></td>
        </tr>
        <tr>
            <td width="300px">{{ item.description}}</td>
        </tr>
        <tr>
            <td width="300px">Price: <strong>${{ item.starting_bid}}</strong></td>
        </tr>

    </table>
    {% empty %}
    <br><br>
        <h4 style="color:chocolate">No listings in your watchlist</h4>
    {% endfor %}

{% endblock %}